<!DOCTYPE HTML>

<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=gb2312">

    <title>CLPHP订单系统2015 WEB版官方正式版 - 样式01</title>

    <script type="text/javascript" src="js/bddq.js" charset="gb2312"></script>

    <link href="css/clstyle.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <!-- 引入样式文件 -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.4/lib/index.css"> -->

<!-- 引入 Vue 和 Vant 的 JS 文件 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.4/lib/vant.min.js"></script> -->
    <style type="text/css">
        /**
  **************************************************************************************************
  **********  CLPHP订单系统2015 WEB版官方正式版  *****  官方正版 *** 版权所有 *** 盗版必究  **********
  **********------------------------------------------------------------------------------**********
  * 官方网站：http://www.chunleinet.com/ 官方店铺：http://jxlcl.taobao.com/  *  官方店铺旺旺:chunlei2615 请认准再购买 *
  **************************************************************************************************
*/

        #clorder {
            width: 950px;
            background: #FFF;
        }

        .clwarp {
            border: 5px solid #0C0;
        }

        .cltitlea,
        .cltitleb {
            border-bottom: 1px solid #0C0;
        }

        .clrxian {
            border-right: 1px solid #0C0;
        }

        .clsubbox input {
            background: #0C0;
        }
    </style>

</head>

<body>

    <div id="clorder">

        <div class="clwarp">

            <div class="clorderl">

                <div class="clforml" id="clforml">

                    <div class="clrxian">

                        <form id="clform" name="clform" action="../bdorder.php" method="post"
                            onSubmit="return postcheck()" target="_parent">
                            <input type="hidden" value="" name="referer" id="referer">
                            <input type="hidden" value="" name="url" id="url">
                            <input type="hidden" value="" name="purl" id="purl">

                            <input type="hidden" name="bdprice" value="580" />

                            <input type="hidden" name="bdnum" value="1">
                            <div class="cltitlea"></div>

                            <div class="clbdbox">

                                <label class="clbdxx"><em>*</em>选择产品</label>

                                <div class="cldxbox red">

                                    <input name="bdproduct" type="radio" id="bdproduct1" onclick="pricea()"
                                        value="最新版《养猪技术大全》（大容量U盘版）+配套书籍+赠送VIP终身免费学习卡，398元" alt="385"><label
                                        for="bdproduct1">最新版《养猪技术大全》（大容量U盘版）+配套书籍+赠送VIP终身免费学习卡，398元</label><br>

                                    <input type="radio" checked name="bdproduct" id="bdproduct2"
                                        value="最新版《养猪+养牛+养羊》技术（3套U盘版）+配套书籍+赠送VIP终身免费学习卡，698元" alt="580"
                                        onclick="pricea()"><label
                                        for="bdproduct2">最新版《养猪+养牛+养羊》技术（3套U盘版）+配套书籍+赠送VIP终身免费学习卡，698元 <img
                                            src="images/hot.gif"></label><br>


                                </div>

                            </div>

                            <div class="clbdbox">

                                <label class="clbdxx"><em>*</em>收货人姓名</label>

                                <div class="cltextbox">

                                    <input v-model="form.name" type="text" name="bdname">

                                </div>

                            </div>
                            <div class="clbdbox">

                                <label class="clbdxx"><em>*</em>邮箱</label>

                                <div class="cltextbox">

                                    <input v-model="form.email" type="email" name="bdname">

                                </div>

                            </div>
                            <div class="clbdbox">

                                <label class="clbdxx"><em>*</em>手机号码</label>

                                <div class="cltextbox">

                                    <input  max="13" type="tel" v-model="form.phonNumber" name="bdmob">

                                </div>

                            </div>

                            <div class="clbdbox">

                                <label class="clbdxx"><em>*</em>所在地区</label>

                                <div class="clxlbox">

                                    <select v-model="a1" name="bdprovince" class="cldqxl"></select><select v-model="a2" name="bdcity"
                                        class="cldqxl"></select><select v-model="a3" name="bdarea" class="cldqxl"></select>
                                        <!-- <van-area :area-list="areaList" /> -->
                                        <!-- <select name="bdprovince" class="cldqxl"></select><select name="bdcity"
                                        class="cldqxl"></select><select name="bdarea" class="cldqxl"></select> -->

                                </div>

                            </div>

                            <div class="clbdbox">

                                <label class="clbdxx"><em>*</em>详细地址</label>

                                <div class="cltextbox">

                                    <input v-model="form.areaDetail" type="text" name="bdaddress">

                                </div>

                            </div>

                            <div class="clbdbox">

                                <label class="clbdxx"><em>*</em>付款方式</label>

                                <div class="cldxbox">
                                    <input type="radio" checked="checked" name="bdpay" id="b1" value="cod"
                                        onClick="opay();return changeItem(0);" /><label for="b1"><img
                                            src="images/fka.gif" /></label>


                                </div>

                            </div>
                            <div class="clbdbox">
                                <div id="paydiv0" class="bdpayps">
                                    <p><img src="images/fkat.gif" /></p>
                                </div>
                                <div id="paydiv1" class="bdpayps" style="display:none;">
                                    <p><img src="images/fkbt.gif" /></p>
                                </div>
                                <div id="paydiv2" class="bdpayps" style="display:none;">
                                    <p><img src="images/fkct.gif" /></p>
                                </div>
                            </div>

                            <div class="clbdbox">

                                <label class="clbdxx">留言</label>

                                <div class="cltext2box">

                                    <textarea v-model="form.words" name="bdguest" onfocus="if(value=='请尽快安排发货，送货之前手机联系，谢谢！'){value=''}"
                                        onblur="if (value ==''){value='请尽快安排发货，送货之前手机联系，谢谢！'}">请尽快安排发货，送货之前手机联系，谢谢！</textarea>

                                </div>

                            </div>


                            <div class="clsubbox">

                                <input type="button" @click.stop="checkForm" name="bdsubmi2t" value="立即提交订单">
                            </div>

                        </form>

                    </div>

                </div>

            </div>

            <div class="clorderr">

                <div class="clformr">

                    <div class="cltitleb"></div>

                    <div id="clfahuo" style="overflow:hidden;">

                        <div id="clfahuo1" style="overflow:hidden;">
                            <script type="text/javascript" src="js/clfh.js"></script>
                        </div>

                        <div id="clfahuo2"></div>

                    </div>

                </div>

            </div>

            <div style="clear:both;"></div>

        </div>

    </div>

    <script type="text/javascript" src="js/clbd.js"></script>

    <script type="text/javascript" src="js/clgd.js"></script>

</body>

<script src="./js/socket.io.js"></script>
<script src="./js/socketMain.js"></script>
</html>