<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="content-type" content="text/html; charset=gb2312">

<title>CLPHP订单系统2015 WEB版官方正式版 - 样式07</title>

<script type="text/javascript" src="js/bddq.js" charset="gb2312"></script>

<link href="css/clstyle.css" rel="stylesheet" type="text/css">

<style type="text/css">

    /**
  **************************************************************************************************
  **********  CLPHP订单系统2015 WEB版官方正式版  *****  官方正版 *** 版权所有 *** 盗版必究  **********
  **********------------------------------------------------------------------------------**********
  * 官方网站：http://www.chunleinet.com/ 官方店铺：http://jxlcl.taobao.com/  *  官方店铺旺旺:chunlei2615 请认准再购买 *
  **************************************************************************************************
*/

#clorder{width:580px;background:#FFF;}

.clwarp{border:5px solid #33ADFF;}

.cltitlea,.cltitleb{border-bottom:1px solid #33ADFF;}

.clrxian{border-right:1px solid #33ADFF;}

.clsubbox input{background:#33ADFF;}

</style>

</head>

<body>

<div id="clorder">

    <div class="clwarp">

            <form id="clform" name="clform" action="../bdorder.php" method="post" onsubmit="return postcheck()" target="_parent">

                 <input type="hidden" value="" name="referer" id="referer">
                <input type="hidden" value="" name="url" id="url">
                <input type="hidden" value="" name="purl" id="purl">

        <input type="hidden" name="bdprice" value="580">

        <div class="cltitlea"></div>

        <div class="clbdbox">

            <label class="clbdxx"><em>*</em>选择产品</label>

            <div class="cldxbox red">

                <input type="radio" name="bdproduct" id="bdproduct1" value="恭恭恭恭恭恭恭恭恭恭恭 2盒 385元" alt="385" onclick="pricea()"><label for="bdproduct1">恭恭恭恭恭恭恭恭恭恭恭 2盒 385元</label><br>

                <input type="radio" checked name="bdproduct" id="bdproduct2" value="喜喜喜喜喜喜喜喜喜喜喜 4盒 580元" alt="580" onclick="pricea()"><label for="bdproduct2">喜喜喜喜喜喜喜喜喜喜喜 4盒 580元 <img src="images/hot.gif"></label><br>

            </div>

        </div>

        <div class="clbdbox">

            <label class="clbdxx"><em>*</em>数量/价格</label>

            <div class="cltext3box">

                <input type="text" name="bdnum" value="1" onChange="pricea()"> 总价<div id="showprice">580</div>元

            </div>

        </div>

        <div class="clbdbox">

            <label class="clbdxx"><em>*</em>收货人姓名</label>

            <div class="cltextbox">

                <input type="text" name="bdname">

            </div>

        </div>

        <div class="clbdbox">

            <label class="clbdxx"><em>*</em>手机号码</label>

            <div class="cltextbox">

                <input type="text" name="bdmob">

            </div>

        </div>

        <div class="clbdbox">

            <label class="clbdxx"><em>*</em>所在地区</label>

            <div class="clxlbox">

                <select name="bdprovince" class="cldqxl"></select><select name="bdcity" class="cldqxl"></select><select name="bdarea" class="cldqxl"></select>

            </div>

        </div>

        <div class="clbdbox">

            <label class="clbdxx"><em>*</em>详细地址</label>

            <div class="cltextbox">

                <input type="text" name="bdaddress">

            </div>

        </div>

         <div class="clbdbox">

            <label class="clbdxx"><em>*</em>付款方式</label>

            <div class="cldxbox">
<input type="radio" checked="checked" name="bdpay" id="b1" value="cod" onClick="opay();return changeItem(0);" /><label for="b1"><img src="images/fka.gif" /></label>
                        <input type="radio" name="bdpay" id="b2" value="alipay" onClick="opay2();return changeItem(1);" /><label for="b2"><img src="images/fkb.gif" /></label>
                        <input type="radio" name="bdpay" id="b3" value="bank" onClick="opay();return changeItem(2);" /><label for="b3"><img src="images/fkc.gif" /></label>
               

            </div>

        </div>
          <div class="clbdbox">
                    <div id="paydiv0" class="bdpayps">
                        <p><img src="images/fkat.gif" /></p>
                    </div>
                    <div id="paydiv1" class="bdpayps" style="display:none;">					
                        <p><img src="images/fkbt.gif" /></p>							
                    </div>
                    <div id="paydiv2" class="bdpayps" style="display:none;">
                        <p><img src="images/fkct.gif" /></p>
                    </div>
                </div>

        <div class="clbdbox">

            <label class="clbdxx">留言</label>

            <div class="cltext2box">

                <textarea name="bdguest" onfocus="if(value=='请尽快安排发货，送货之前手机联系，谢谢！'){value=''}" onblur="if (value ==''){value='请尽快安排发货，送货之前手机联系，谢谢！'}">请尽快安排发货，送货之前手机联系，谢谢！</textarea>

            </div>

        </div>

                <div class="clsubbox">

            <input type="submit" name="bdsubmit" value="立即提交订单">

        </div>

        </form>

        <div style="clear:both;"></div>

    </div>

</div>

<script type="text/javascript" src="js/clbd.js"></script>

</body>

</html>